html {
    box-sizing: border-box
}

*,
*:before,
*:after {
    box-sizing: inherit
}


body {
    margin: 0;
}

body,
header,
footer {
    overflow-x: hidden;
    font-family: "Montserrat";

}


button:focus {
    outline: unset !important;
}

p {
    font-size: 12px;
}



header {
    margin: 1rem 5%;
}

.header-title {
    color: grey;
    font-size: 28px;
    font-weight: 300;
}

.navBar {
    justify-content: space-evenly;
    background-color: #e30866;
    padding: .5rem;
}



.navBar-item {
    font-size: 12px;
}

.navBar-item:hover {
    background-color: #624764;
}

.topnav {
    overflow: hidden;
    background-color: #e30866;
    position: relative;
    display: none;
}

.topnav #myLinks {
    display: none;
}

.topnav a {
    color: white;
    padding: 4px 10px;
    text-decoration: none;
    font-size: 17px;
    display: block;
}

.topnav a.icon {
    background: #white;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}

.topnav .active {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
}


.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.active {
    background-color: #e30866;
    color: white;
}

.side-bar {
    position: absolute;
    right: 0;
    padding-top: 50px;
    top: 600px;
}

.side-box {
    padding: 20px;
    background-color: lightgrey;
    color: white;
}

.side-box:hover {
    background-color: #e30866;

}

.next-btn.carousel-control-next {
    top: unset;
    right: 0;
    bottom: 40%;
    width: 5%;
    height: 10%;

}

.prev-btn.carousel-control-prev {
    left: unset;
    right: 0;
    top: 40%;
    width: 5%;
    height: 10%;
}

.prev-btn::after {
    content: '';
    border-bottom: 1px solid white;
    width: 50%;
    position: absolute;
    bottom: 0;

}

.carousel-height {
    max-height: 470px;
}

.carosel-content {
    position: absolute;
    z-index: 2;
    left: 10%;
    font-weight: 500;
    font-size: 24px;
    top: 40%;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.4);
}

.services-card .overlay:hover {
    background-color: rgba(227, 8, 102, 0.9);
}

.latest-news .overlay:hover {
    background-color: unset;
}

.latest-news .overlay:hover~.news-text {
    display: none;
}


#carousel-page .carousel-indicators li.active {
    background-color: #e30866;
}

.section {
    align-items: center;
    margin: 0rem 12rem;
    border-bottom: 1px solid lightgray;
    padding: 4rem;

}

.section-title {
    margin: 1rem;
    color: #e30866;
    font-weight: 500;
}

.section-content {
    line-height: 3rem;
    font-size: 12px;
    color: grey;
}

.brand-logo {
    width: 120px;
}

.more-btn {
    font-size: 14px;
    color: #e30866;
    padding: 14px 30px;
    border: 1px solid #e30866;
    text-align: center;
    border-radius: 30px;
    margin-top: 30px;
    height: 50px;
    background: white;
}

.more-btn:hover {
    color: white;
    background: #e30866;

}

.service-section {
    background-color: #f8f8f8;
}

.service-container {
    margin: 0rem 12rem;
}

.service-image {
    width: 100%;
    height: 300px;
    object-fit: cover;

}

.services-card {
    position: relative;
}

.service-logo {
    position: absolute;
    z-index: 2;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    align-items: center;
    margin: auto;
    width: 60%;
    display: flex;
    flex-direction: column;
    text-align: center;
    pointer-events: none;

}

.news-logo {
    width: 100%;
    height: 240px;
    object-fit: cover;
}

.news-text {
    position: absolute;
    left: 8%;
    bottom: 4px;
    z-index: 1;
    font-size: 16px;
    pointer-events: none;
}

footer {
    background: #555;
    color: white;
    border-bottom: 15px solid #bf2269;
}

@media screen and (max-width: 1024px) {

    .section,
    .service-container {
        margin: 0rem 4rem;
    }
}

@media screen and (max-width: 767px) {
    .tablet-column {
        flex-direction: column !important;
    }

    .header-title {
        font-size: 24px;
    }

    .tablet-hidden {
        display: none !important;
    }

    * {
        font-size: 12px;
    }

    .header-title {
        font-size: 20px;
    }

    .carosel-content {
        font-size: 16px;
    }
}

@media screen and (max-width: 480px) {
    .mobile-hidden {
        display: none !important;
    }

    .mobile-hidden.navBar {
        display: none !important;
    }

    .header-title {
        font-size: 16px;
    }

    .section,
    .service-container {
        margin: unset;
    }

    .mobile-column {
        flex-direction: column !important;
    }

    .topnav {
        display: block !important;
    }
}